<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <button nbButton hero status="info" size="medium" type="button" (click)="goBack()"><nb-icon icon="arrow-forward-outline"></nb-icon></button>
      </nb-card-header>
      <nb-card-body>
        <div class="centerElement">
          <nb-stepper #stepper disableStepNavigation>
            <nb-step [stepControl]="firstForm">
              <form [formGroup]="firstForm" novalidate class="step-container">
                <div>
                  <label for="email">
                    <input [readonly]="readonly" nbInput fullWidth shape="round" required id="email" type="text" formControlName="email">
                    <span *ngIf="f1['email'].touched && f1['email'].invalid" class="invalid-feedback">
                      <span *ngIf="f1['email'].errors" class="invalid-feedback">
                        <span *ngIf="f1['email'].errors['required']">البريد الإلكتروني مطلوب</span>
                      </span>
                    </span>
                    <span class="floating-label">* البريد الإلكتروني</span>
                  </label>
                </div>
                <button (click)="onFirstSubmit(stepper)" [nbSpinner]="loadingSpinner" nbSpinnerSize="medium" nbSpinnerStatus="danger" nbButton shape="round" size="medium" status="success" type="submit" [disabled]="firstForm.invalid">
                  <span *ngIf="!loadingSpinner">التحقق من البريد الإلكتروني</span>
                  <span *ngIf="loadingSpinner" [nbSpinner]="loadingSpinner">تحميل...</span>
                </button>
                <div class="invalid-feedback">
                  <span> {{ queryError }} </span>
                </div>
              </form>
            </nb-step>

            <nb-step [stepControl]="secondForm" label="">
              <form [formGroup]="secondForm" novalidate class="step-container">
                <div>
                  <label for="verificationCode">
                    <input [readonly]="readonly" nbInput fullWidth shape="round" required id="verificationCode" type="text" formControlName="verificationCode">
                    <span *ngIf="f2['verificationCode'].touched && f2['verificationCode'].invalid" class="invalid-feedback">
                      <span *ngIf="f2['verificationCode'].errors" class="invalid-feedback">
                        <span *ngIf="f2['verificationCode'].errors['required']">رمز التحقق مطلوب</span>
                      </span>
                    </span>
                    <span class="floating-label">* رمز التحقق</span>
                  </label>
                </div>
                <button (click)="onSecondSubmit(stepper)" [nbSpinner]="loadingSpinner" nbSpinnerSize="medium" nbSpinnerStatus="danger" nbButton shape="round" size="medium" status="success" type="submit" [disabled]="secondForm.invalid">
                  <span *ngIf="!loadingSpinner">التحقق من الرمز</span>
                  <span *ngIf="loadingSpinner" [nbSpinner]="loadingSpinner">تحميل...</span>
                </button>

                <div class="invalid-feedback">
                  <span> {{ queryError }} </span>
                </div>
              </form>
            </nb-step>

            <nb-step [stepControl]="thirdForm">
              <form [formGroup]="thirdForm" novalidate class="step-container">
                <div>
                  <label for="password">
                    <input [readonly]="readonly" nbInput fullWidth shape="round" required id="password" type="password" formControlName="password" autocomplete="on">
                    <span *ngIf="f3['password'].touched && f3['password'].invalid" class="invalid-feedback">
                      <span *ngIf="f3['password'].errors" class="invalid-feedback">
                        <span *ngIf="f3['password'].errors['required']">كلمة المرور مطلوبة</span>
                      </span>
                    </span>
                    <span class="floating-label">* كلمة المرور</span>
                  </label>
                </div>
                <button (click)="onThirdSubmit(stepper)" [nbSpinner]="loadingSpinner" nbSpinnerSize="medium" nbSpinnerStatus="danger" nbButton shape="round" size="medium" status="success" type="submit" [disabled]="thirdForm.invalid">
                  <span *ngIf="!loadingSpinner">تغيير كلمة المرور <nb-icon icon="arrow-circle-left-outline"></nb-icon></span>
                  <span *ngIf="loadingSpinner" [nbSpinner]="loadingSpinner">تحميل...</span>
                </button>

                <div class="invalid-feedback">
                  <span> {{ queryError }} </span>
                </div>
              </form>
            </nb-step>
            <nb-step [hidden]="true">
              <div class="step-container resetbutton">
                <h3>تم تغيير كلمة المرور بنجاح</h3>
                <button nbButton shape="rectangle" size="medium" status="info" type="button" (click)="stepper.reset()">
                  <span><nb-icon icon="arrow-circle-right-outline"></nb-icon> حاول مجددا</span>
                </button>
                <button style="margin-right: 2%;" nbButton shape="rectangle" size="medium" status="info" type="button" routerLink="/login">
                  <span>تسجيل الدخول <nb-icon icon="arrow-circle-left-outline"></nb-icon></span>
                </button>
              </div>
            </nb-step>
          </nb-stepper>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
