<shoppingstore-spinner *ngIf="loadingSpinner"></shoppingstore-spinner>
<div *ngIf="!loadingSpinner">
  <h3 *ngIf="tableDataSource.length === 0">لا توجد بيانات حتى الآن</h3>
  <nb-card class="tableStyle" *ngIf="tableDataSource.length !== 0">
    <nb-card-body>
      <div class="table-header">
        <input nbInput [(ngModel)]="searchedKeyword" placeholder="بحث..." id="search" class="search-input">
      </div>
      <table [nbTreeGrid]="tableDataSource" [dataSource]="tableDataSource | filter:searchedKeyword | paginate: { itemsPerPage: limit, currentPage: currentPage, totalItems: totalItems }">
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="columnsItems"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: columnsItems"></tr>

        <ng-container nbTreeGridColumnDef="id">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>#</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row; let index=index">{{index+1}}</td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="clientName">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>إسم الحريف</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.clientName}}</td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="grandTotal">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>المبلغ الإجمالي</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.grandTotal}}</td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="view">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef></th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="view(row.id)"><nb-icon icon="eye-outline"></nb-icon></td>
        </ng-container>
      </table>
    </nb-card-body>
    <nb-card-footer class="pagination">
      <pagination-controls [responsive]="true" [autoHide]="true" nextLabel="الصفحة التالية" previousLabel="الصفحة السابقة" [maxSize]="5"
        (pageBoundsCorrection)="getByPage(currentPage = $event)" (pageChange)="getByPage(currentPage = $event)"
        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </nb-card-footer>
  </nb-card>
</div>
