<nb-card>
  <nb-card-header>
    <button nbButton hero status="info" size="medium" type="button" (click)="goBack()"><nb-icon icon="arrow-forward-outline"></nb-icon></button>
  </nb-card-header>
  <nb-card-body>
    <div class="centerElement">
      <h3 class="titlecenter">{{this.title}}</h3>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div>
          <label for="fullname">
            <input nbInput fullWidth shape="round" required id="fullname" type="text" formControlName="fullname">
            <span *ngIf="f['fullname'].touched && f['fullname'].invalid" class="invalid-feedback">
              <span *ngIf="f['fullname'].errors" class="invalid-feedback">
                <span *ngIf="f['fullname'].errors['required']">الاسم مطلوب</span>
              </span>
            </span>
            <span class="floating-label">* الاسم</span>
          </label>
        </div>
        <div>
          <p>البريد الإلكتروني: {{ this.email }}</p>
        </div>

        <div class="invalid-feedback">
          <span> {{ queryError }} </span>
        </div>
        <button style="margin-top: 10%;" [nbSpinner]="loadingSpinner" nbSpinnerSize="medium" nbSpinnerStatus="danger" nbButton shape="round" size="medium" status="success" type="submit" [disabled]="form.invalid">
          <span *ngIf="!loadingSpinner">حفظ</span>
          <span *ngIf="loadingSpinner" [nbSpinner]="loadingSpinner">تحميل...</span>
        </button>
      </form>
    </div>
  </nb-card-body>
</nb-card>
